# Ambiente: 'homologacion' o 'produccion'.
ARCA_ENV="homologacion"

# Rutas a las credenciales obtenidas por la generacion de claves
ARCA_PRIVATE_KEY="~/.ssh/tu-clave-privada.key"
ARCA_CERTIFICATE="~/.ssh/tu-certificado.pem"

# Tickets de acceso (se generan en runtime, validos por 12hs)
ARCA_CACHE="cache/"

# CUIT del contribuyente representado
ARCA_CUIT="TU_CUIT"
ARCA_RAZON_SOCIAL="TU_RAZON_SOCIAL"
ARCA_RAZON_DOMICILIO="TU_DOMICILIO_FISCAL"
ARCA_CONDICION_IVA="RI"
ARCA_FECHA_INICIO_ACTIVIDADES="DD/MM/YYYY"


ARCA_CBTE_TIPO="B"
ARCA_RECEPTOR_CUIT="CUIT_RECEPTOR_EJEMPLO"
ARCA_IMP_NETO="1.00"
ARCA_IVA="21.0"

# Generacion de las facturas. Parametros aceptados para el nombre de la factura: 'cbte_nro:08d', 'razon_social_receptor', 'cuit_receptor'
ARCA_FACTURA_PATH="output/{razon_social_receptor}.pdf"
ARCA_FACTURA_LOGO="assets/tu-logo.png"

# Path para leer a los clientes que se deben facturar. Ver input/excel.py para las columnas soportadas
EXCEL_CLIENTES="~/Downloads/tu-archivo-clientes.xlsx"
